<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <div id="app">
       <div>{{num}}</div> 
       <form action="">
           <div>
               用户名：<input v-model="username" @keyup.delete="deleteAll" type="text">
           </div>
           <div>
               密码：<input v-model="pwd" @keyup.enter="handelSubmit" type="text">
           </div>
           <div>
               <input type="button" @click="handelSubmit" value="提交">
           </div>
       </form>
    </div>

    <script src="../js/vue.js"></script>
    <script type="text/javascript">

    /*
    *   事件绑定 事件修饰符
        
    */
    var vm  = new Vue({
        el: '#app',
        data: {
            msg: "hello vue",
            num: 0,
            username:'',
            pwd: ''
        },
        methods: {
            handelSubmit: function() {
                console.log(this.username,this.pwd);

            },
            deleteAll: function() {
                //按delete键清空用户名
                this.username=""
            }
        }

    })
    </script>

</body>
</html>



