<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="app">
       <div>{{msg}}</div> 
       <menu-item :pstr='pstr' :pnum='12' :pboolens='true' :parray='parray' :pobj='pobj'></menu-item>
        <menu-i :parr='parray'></menu-i>

    </div>

    <script src="../js/vue.js"></script>
    <script type="text/javascript">
    Vue.component('menu-item',{
        props: ['pstr','pnum','pboolens','parray','pobj'],
        template: `
            <div>
                <div>{{pstr}}</div>
                <div>{{typeof pnum}}</div>
                <div>{{pboolens}}</div>
                <ul>
                    <li :key='index' v-for='(item,index) in parray'>{{item}}</li>
                <ul>
                <div>
                    {{pobj.name}}  <span>|</span>
                    {{pobj.age}}
                </div>        

            </div>
        `
    });
    //子组件操作父组件的数据   props 传递数据原则（虽然没有禁止） 单项数据流 
    Vue.component('menu-i',{
        props: ['parr'],
        template: `
            <div>
                <ul>
                    <li :key='index' v-for='(item,index) in parr'>
                </ul>
            <div>
            <button @click='parr.push("lemon")'>点击</button>
        `
    });
    /*
    */
    var vm  = new Vue({
        el: '#app',
        data: {
            msg: "hello vue",
            pstr: 'hello',
            parray: ['apple','orange'],
            pobj: {
                name: 'lisi',
                age: 12,
            }
        },
        methods: {
            
        }
    })
    </script>
</body>
</html>



